<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | Amiga Geek</title>
    <meta name="description" content="Antiquated adventures of a nostalgic engineer">
    <link rel="stylesheet" href="/main.css">
    {{ partial "helpers/mathjax.html" . }}
</head>

<body>
    <div id="page">
        <header>
            <a href="/">
                <span>
                    <img src="/boingball_small.png" width="32px" height="32px" style="display: inline-block">
                    Home
                </span>
            </a>
            <span>
                <a href="/index.xml">RSS</a>
                <a href="https://github.com/amigageek/">GitHub</a>
                <a href="mailto:djay@amigageek.com">Email</a>
            </span>
        </header>
        <article id="content">
